.signContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  display: flex;
  height: 2.6rem;
  width: 100%;
  border: none;
  gap: 1rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.btnText {
  font-family: "Montserrat";
  color: white;
  font-weight: 500;
  font-size: 0.88rem;
  display: flex;
}
