body {
    background: linear-gradient(to right, var(--color-darkGreen), var(--color-primary)) ;
    

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    
    border-radius: 25px;
    width: 475px;
    height: 550px;
    top: 175px;

}

.card-title {
    width: 330px;
    height: 39px;
    margin: 30px auto;
    top: 219px;
   
}

.card-text {
    width: 87px;
    height: 27px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 22px;
    top: 301px;
    margin: 0 auto;
}

.card-subtitle {
    display: flex;
    justify-content: center;
    top: 337px;
    font-size: 0.875rem;
    font-family: "Montserrat";
    line-height: 1.063rem;
    color: #6C6C6C;
    margin-bottom: 45px;
    
}


@media (max-width: 768) {
    .card {
        padding: 15px;
    }
    .card-title {
        font-size: 1.7rem;
        margin-bottom: 15px;
    }
    .card-text {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .card-subtitle {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }
    .card-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .card-text {
        font-size: 1.25rem;
        margin-bottom: 5px;
    }
    .card-subtitle {
        font-size: 0.75rem;
        margin-bottom: 20px;
    }
}

