.aside {
  display: flex;
}
.notAside {
  width: 100%;
  padding: 0 30px;
}
.header {
  width: 100%;
}
.content {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.logout {
  display: flex;
  position: fixed;
  bottom: 5%;
  gap: 0.8rem;
  border: none;
  background-color: #eee0cb;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.88rem;
}
.containerSearchbar {
  display: flex;
  justify-content: space-between;
}
.containerInput {
  position: relative;
  width: 13.25rem;
}
.inputIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
}
.inputSearchBar {
  width: 100%;
  padding: 1.25rem 2.5rem 1.25rem 1.25rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  border: 0.06rem solid #e5e5e5;
  height: 2.31rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.88rem;
}
.image {
  height: min-content;
}
.containerCards {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 685px) {
  .containerCards {
    flex-direction: column;
  }
  .notAside {
    padding: 0;
  }
}
