.logoDefault {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 344px;
  height: 39px;
  padding-left: 13px;
  border-left: 6px solid var(--color-primary);
}

.logoText {
  text-wrap: nowrap;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

.logoSmall {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 219px;
  height: 24px;
  padding-left: 13px;
  border-left: 4px solid var(--color-primary);
}

.logoTextSmall {
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .logoSmall {
    width: 180px;
    height: 31px;
  }
  .logoTextSmall {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .logoSmall {
    width: 150px;
  }
  .logoTextSmall {
    font-size: 0.8rem;
  }
}
