.logoDefault {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 344px;
  height: 39px;
  padding-left: 13px;
  border-left: 6px solid var(--color-primary);
}

.logoText {
  font-size: 2rem;
  font-weight: bold;
}

.logoSmall {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 219px;
  height: 24px;
  padding-left: 13px;
  border-left: 4px solid var(--color-primary);
}

.logoTextSmall {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .logoSmall{
    width: 180px;
  }
  .logoTextSmall {
    font-size: 17px;
  }
}

@media (max-width: 780px) {
  .logoSmall{
    width: 160px;
  }
  .logoTextSmall {
    font-size: 14px;
  }
}