

.montserrat-card-texts {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container-card {
    align-content: space-between;
    flex-direction: row;
}

.card-title {
    font-family: "Montserrat";
}
