
.container-options {
    background-color: #EEE0CB;
    position: fixed;
    width: 16.88rem;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.not-aside {
    margin-left: 18.13rem;
    padding: 1.25rem;
}
.content{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
.logout {
    display: flex;
    position: fixed;
    bottom: 5%;
    gap: 0.8rem;
    border: none;
    background-color: #EEE0CB;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 0.88rem;
}
.container-searchbar {
    display: flex;
    justify-content: space-between;
}
.container-input {
    position: relative;
    width: 13.25rem;
}
.input-icon {
    position: absolute;
    right:  1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
}
.input-search-bar {
    width: 100%;
    padding: 1.25rem 2.50rem 1.25rem 1.25rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    border: 0.06rem solid #E5E5E5;
    height: 2.31rem;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 0.88rem;
}
.image {
    height: min-content;
}
.container-cards {
    display: flex;
    flex-flow: row;
}