
.btn {
    border-radius: 0.25rem;
    width: 12.06rem;
    height: 2.56rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    width: 13rem;
    transition: 0.5s;
}

.btn img:hover{
    color: white;
}

.btn-iconPage {
    align-self: center;
}

.btn-textPage {
    font-family: "Montserrat";
    color: black;
    font-weight: 500;
    font-size: 0.88rem;
    align-self: center;
}

@media (max-width: 900px) {
    .btn {
        width: 5rem;
        height: auto;
    }

    .btn:hover {
        width: 7.5rem;
        height: 2.56rem;
    }
    
    .btn-textPage {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .btn {
        height: 2.56rem;
    }
    
    .btn-textPage {
        font-size: 0.88rem;
    }
}
