.signContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  border: none;
  color: #ffffff;
  background-color: #357ae8;
}

.icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.btnText {
  font-size: 14px;
}
